
.topnav {
    background-color:  lightgray;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    align-items: center;
    display: flex;
   
      
}

.topnav img {
    height: 70px;
    width: auto;
}

.topnav button {
    margin-left: auto;;
}
body {
    margin: 0;
    padding-top: 60px;
}

.topnav link  {
    color: black;
    text-decoration: none;
    
}

.topnav a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.topnav h3 {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.app {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}


.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  
}

.body {
    height: 80%; 
}


.App-header{
    background-color: white;
}

.App-title{
    background-color: white;
    
}


.topnav button {
  margin-right: 10px;
}


.admin-section {
    display: grid;
    
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    background-color: hsl(0, 0%, 83%);
    padding: 5px;
    gap: 20px; 
    width: auto;
    margin-top: 70px;
    margin-bottom: 70px;
     
}

.admin-section div {
     background-color: #f1f1f1;
     color: #000;
     padding: 20px;
     font-size: 24px;
     text-align: center;
     border-radius: 8px;
     margin-top: 50px;
     margin: 20px;
     margin-bottom: 50px;

     
     
    
   
}

.admin {
    border-top: 6px solid purple;
}

.voter {
    border-top: 6px solid lightskyblue;
}
.candidate {
    border-top: 6px solid blue;
}

.admin-list {
    list-style-type: disc;
    text-align: left;
    padding-left: 20px;
    font-size: 15px;
    margin-top: 30px;
 
}

.voter-list {
    list-style-type: disc;
    text-align: left;
    padding-left: 20px;
    font-size: 15px;
    margin-top: 30px;
}
.candidate-list {
    list-style-type: disc;
    text-align: left;
    padding-left: 20px;
    font-size: 15px;
    margin-top: 30px;
}

.admin-btn {
    background-color: purple;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
    text-shadow: 0 1px 3px rgba(0,0,0,0.6);
    font-weight: 600;

    width: 100%;
    max-width: 250px;
    
 
}

.App-title h1 {
    text-align: center;
}
.voter-btn {
    background-color:  lightskyblue;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
    text-shadow: 0 1px 3px rgba(0,0,0,0.6);
    font-weight: 600;

    width: 100%; /* fill container*/
    max-width: 250px; /*dont get too big on desktop*/


}
.candidate-btn {
    background-color: blue;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
    text-shadow: 0 1px 3px rgba(0,0,0,0.6);
    font-weight: 600;

    width: 100%;
    max-width: 250px;
}



.Information-section {
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 12px 20px;
}




.trust-info {
    color: purple;
    font-style: italic;
}
.trust-info-info {
    list-style-type: disc;
    text-align: left;
  
    font-size: 15px;
  
    margin-bottom: 60px;
  
}

.response-img {
   width: 25%;
    height: auto;
    align-items: center;
  
   
    border-radius: 8px;
    margin-bottom: 30px;
}


.footer {
    background-color: lightgray;
    text-align: center;
    color: black;
    padding: 100px;
}

.footer-final{
    background-color: lightgray;
    color: black;
    padding: 40px 20px;
    
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
}

.footer-column {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}
.footer-column h1 {
    margin-bottom: 10px;
}

.footer-column h5 {
    display: block;
    color: black;
    text-decoration: none;
    margin: 6px 0;
    font-size: 14px;

}

.footer-column h5:hover {
    color: purple; 
    text-decoration: underline;
}

.footer-bottom {
    text-align: center;
    color: black; 
    margin-top: 30px;
    border-top: 1px solid #333;
    padding-top: 15px;
    font-size: 13px;
    color: black;
}

